sudo: false
language: python
cache:
    directories:
      - $HOME/.cache/pip

env:
    global:
        - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
        - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels

matrix:
    include:
        - python: 2.6
          env: TOXENV=py26
        - python: 2.7
          env: TOXENV=py27
        - python: 3.4
          env: TOXENV=py34
        - python: pypy
          env: TOXENV=pypy
        - python: 2.7
          env: TOXENV=docs
        - python: 2.7
          env: TOXENV=docs-spellcheck
          addons:
              apt:
                  packages:
                      - libenchant-dev
        - python: 2.7
          env: TOXENV=docs-linkcheck
        - python: 2.7
          env: TOXENV=lint
        - language: generic
          os: osx
          env: TOXENV=py27
        - language: generic
          os: osx
          env: TOXENV=pypy
        - language: c
          os: osx
          env: MACAPP_ENV=system
    allow_failures:
      - env: TOXENV=docs-linkcheck

install:
  - travis_retry ./.travis/install.sh

script:
  - ./.travis/run.sh

after_success:
  - "source ~/.venv/bin/activate && codecov"

notifications:
  irc:
     channels: "chat.freenode.net##mimic"
     template:
       - "%{repository}@%{branch} - %{author}: %{message} (%{build_url})"
     use_notice: true

branches:
  only:
    - master
    - gh-pages
